{% load static %}

<!DOCTYPE html>
<html   lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{% static 'assets/images/46ab23e7-b202-463a-9625-1833600a0167-200x200.png' %}" type="image/x-icon">

  <title>Home</title>

  <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/formstyler/jquery.formstyler.css' %}">
  <link rel="stylesheet" href="{% static 'assets/formstyler/jquery.formstyler.theme.css' %}">
  <link rel="stylesheet" href="{% static 'assets/datepicker/jquery.datetimepicker.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
  <link rel="preload" as="style" href="{% static 'assets/mobirise/css/mbr-additional.css' %}">
    <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-sqnJr3dsEc" nonce="menu" id="menu2-6">
    
    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                        <img src="{% static 'assets/images/46ab23e7-b202-463a-9625-1833600a0167-200x200.png' %}" alt="Mobirise" style="height: 8rem;">
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black text-primary display-7" href="{% url 'home' %}">Smart Scheduler</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="{% url 'home' %}">
                    Home</a></li></ul>
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="{% url 'login' %}">
                    Schedule</a></li></ul>
            </div>
        </div>
    </nav>
</section>

<section class="content5 cid-sqnS9AIAeF" id="content5-8">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                
                <h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5">
                    Smart Scheduling of Electric Vehicles</h4>
                <p class="mbr-text mbr-fonts-style display-7">COMP2002/G52 GRP: Software Engineering Group Project
<br>
<br>Project Brief
<br>When everybody transitions from Petrol and Diesel cars to EV, will the grid be able to cope?
<br>In winter 2019, an Atos colleague took a holiday in Norway. Driving to a ski resort near Oslo on a Friday evening, he discovered that the popularity of Electric Vehicles and abundance of charging points resulted in the electricity distribution system being unable to meet the peak requirement for demand.
<br>Will the successful implementation of government policy to get petrol and diesel cars off the road by 2035 make it impossible for the national grid to cope? Or is there a smarter way to schedule the charging of electric vehicles to maximise the use of renewable electricity at times of peak supply?
<br>
<br>Team Members
<br>
<br>Apollon Nakopoulos (psyan7)
<br>Dan Carlo Sioson (psyds9)
<br>Daniel Farquhar (psydf2)
<br>Danylo Szlachetko Blackburn (psyds10)
<br>Giovanni Besla (psygb2)
<br>Zain Rashid (psyzr2)
<br>
<br>
<br>Project Supervisor
<br>Dr Geert De Maere (pszgd)
<br>
<br>Industry Sponsors Contact
<br>Andy Wallace, Atos Head of Innovation (Andrew.wallace@atos.net)
<br>Mike Smith, Atos Chief Technology Officer (Mike.smith@atos.net)</p>
            </div>
        </div>
    </div>
</section>
</body>
</html>